- name: Install nginx
  ansible.builtin.dnf:
    name: nginx
    state: present

- name: Enable and start nginx
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true

- name: Allow HTTP through firewall
  ansible.posix.firewalld:
    service: http
    permanent: true
    state: enabled
    immediate: true
